.idea/
Tools/
BG3VoreMod/Localization/**/*.loca
BG3VoreMod/Public/BG3VoreMod/**/*.lsf
BG3VoreMod/Public/BG3VoreMod/**/*.lsf
BG3VoreMod/Mods/BG3VoreMod/**/*.lsf
BG3VoreMod.zip
BG3VoreMod/Public/Game/**/*
BG3VoreMod/Public/BG3VoreMod/Content/UI/**/*
BG3VoreMod/Public/BG3VoreMod/GUI/**/*
BG3VoreMod/Localization/English/BG3VoreMod.xml
BG3VoreMod/Mods/BG3VoreMod/ScriptExtender/Lua/Subclasses/StomachSentinelBootlegBullshit.lua
BG3VoreMod/Mods/BG3VoreMod/MCM_blueprint_old.json
*.log
db/
Scripts/ModdingTools/