.idea/
Tools/
VoreMod/Localization/**/*.loca
VoreMod/Public/VoreMod/**/*.lsf
VoreMod/Public/VoreMod/**/*.lsf
VoreMod/Mods/VoreMod/**/*.lsf
VoreMod.zip
VoreMod/Public/Game/**/*
VoreMod/Public/VoreMod/Content/UI/**/*
VoreMod/Public/VoreMod/GUI/**/*
VoreMod/Localization/English/VoreMod.xml
VoreMod/Mods/VoreMod/ScriptExtender/Lua/Subclasses/StomachSentinelBootlegBullshit.lua
VoreMod/Mods/VoreMod/MCM_blueprint_old.json
*.log
db/
Scripts/ModdingTools/